<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
  {{>links}}
</head>

<body>
  {{>navbar}}
  <h1>This Is About Page</h1>

  <div class="card card1" style="width: 250px;">
    <img src="../public/images/pc2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>
  <div class="card card2" style="width: 250px;">
    <img src="../public/images/pc3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>
  <div class="card card3" style="width: 250px;">
    <img src="../public/images/pc1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>

  <div class="card card1" style="width: 250px;">
    <img src="../public/images/pc5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>
  <div class="card card2" style="width: 250px;">
    <img src="../public/images/pc6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>
  <div class="card card3" style="width: 250px;">
    <img src="../public/images/pc7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This Door Price $50.</p>
    </div>
  </div>

</body>

</html>