<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  {{>links}}

</head>

<body>
  {{>navbar}}

  <section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../public/images/pc1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
          <img src="../public/images/pc4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../public/images/pc2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../public/images/pc3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="information">
      <h1 class="title">Azam Tembar Mart </h1>
      <p class="Furniture">Furniture refers to movable objects intended to support various human activities such as
        seating (e.g., stools, chairs, and sofas), eating (tables), storing items, eating and/or working with an item,
        and sleeping (e.g., beds and hammocks). Furniture is also used to hold objects at a convenient height for work
        (as horizontal surfaces above the ground, such as tables and desks), or to store things (e.g., cupboards,
        shelves, and drawers). Furniture can be a product of design and can be considered a form of decorative art. In
        addition to furniture's functional role, it can serve a symbolic or religious purpose. It can be made from a
        vast multitude of materials, including metal, plastic, and wood. Furniture can be made using a variety of
        woodworking joints which often reflects the local culture.</p>
    </div>
  </section>
  <div>
 
  </div>
  <div class="program">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas aspernatur laudantium aliquid placeat velit
    culpa amet repudiandae itaque earum enim, repellat deleniti ea, deserunt tempora vero harum! Necessitatibus, a!</p>
    
  </div>
  <footer>
    <p class="myFo">This WebSite Made By Abdul Hashim💖</p>
  </footer>


</body>

</html>